body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 600px;
    margin-top: 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    overflow: hidden;
}

.post img {
    width: 100%;
    height: auto;
}

.post .description {
    padding: 10px;
}

.post .actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #dbdbdb;
}

.post .actions .likes{
    cursor: pointer;
}
